.third_section {
  background-image: url(/images/section3-bgimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 108px 250px;
  min-width: 300px;
}

.third_section__title {
  @include mon700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.third_section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 35px;
}

.third_section_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 345px;
  min-height: 180px;
  margin-bottom: 116px;
}

.third_section_item__text {
  text-align: center;
  font-family: $font-lato;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.third_section__text {
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a291a5;
  margin: 0 auto;
  max-width: 887px;
  position: relative;
}

.third_section__text::after {
  content: '';
  position: absolute;
  max-width: 780px;
  height: 2px;
  left: 43px;
  right: 43px;
  bottom: -22px;
  background: #645766;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1623px) {
  .third_section {
    padding: 108px 200px;
  }
}
@media screen and (max-width: 1520px) {
  .third_section {
    padding: 108px 10px;
  }
}
@media screen and (max-width: 1141px) {
  .third_section_item {
    margin-bottom: 50px;
  }
  .third_section {
    padding: 85px 10px;
  }
  .third_section_item:nth-of-type(3) {
    padding-bottom: 10px;
  }
  .third_section__title {
    font-size: 42px;
    line-height: 44px;
  }
  .third_section__text {
    padding: 0 35px;
  }
}
@media screen and (max-width: 761px) {
  .third_section__title {
    font-size: 36px;
    line-height: 48px;
  }
  .third_section {
    padding: 57px 10px;
  }
}
