body {
  font-family: $font-lato, $font-mont, sans-serif;
  min-width: 320px;
}
.container-main {
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
.title-main {
  background: #ffffff;
  height: 391px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.knopka {
  background-color: none;
  border: none;
  padding: 0px;
}
.icon {
  background: #f4f4f4;
  border: 1px solid rgb(194, 192, 192);
  padding: 6px 10px 6px 10px;
  border-radius: 5px 0 0 5px;
  font-family: Montserrat;
  font-weight: 800;
  color: black;
}
.count {
  background: #ffffff;
  border: 1px solid rgb(194, 192, 192);
  padding: 6px 10px 6px 10px;
  border-radius: 0px 5px 5px 0px;
  font-family: Montserrat;
  font-weight: 900;
}

.title-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
  padding-top: 35px;
}
.title-trial-period {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  display: block;
  align-items: center;
  text-align: center;
  color: #848e97;
  margin-top: 49px;
}
.title-editor {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #635c73;
  padding-top: 66px;
  justify-content: center;
}
.title-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  display: block;
  align-items: center;
  text-align: center;
  color: #323232;
  padding-top: 35px;
}
.logo-web-better {
  margin-right: 23px;
}
.logo-tool {
  margin-right: 44px;
}
.logo-stuff {
  margin-right: 65px;
}
.logo-create-web-beter {
  margin-right: 53px;
}
.container-advantages {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  background: #f4f4f4;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.advantages-item {
  align-items: center;
  padding-left: 90px;
  column-gap: 49px;
  padding-bottom: 30px;
}
.advantages-item-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
  flex-grow: 0;
  max-width: 390px;
  min-width: 300px;
}
.advantages-item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
  padding-bottom: 16px;
}
.title-what-get-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #8d81ac;
  padding-left: 20px;
}
.title-what-get-text-active {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #8d81ac;
  padding-left: 20px;
}
.title-what-get-text::before {
  content: '\3C';
}
.title-what-get-text::after {
  content: '\3E';
}
.title-what-get-text-active::before {
  content: '\3C';
}
.title-what-get-text-active::after {
  content: '\3E';
}
.title-what-get {
  max-width: 700px;
  margin-top: 94px;
}
@media (max-width: 992px) {
  .title-what-get-img {
    display: none;
  }
  .container-advantages {
    background: #ffffff;
  }
  .advantages-item-text {
    max-width: 500px;
  }
  // .title-what-get-text {
  //   position: absolute;
  //   display: none;
  // }
  .advantages-item-text {
    position: absolute;
  }
}
@media (max-width: 580px) {
  .advantages-item {
    padding-left: 20px;
  }
  .title-what-get-text-active {
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .advantages-item {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 80px;
  }
  .advantages-item-title {
    padding-top: 20px;
  }
  .title-editor {
    font-size: 26px;
  }
  .button-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .title-what-get-text {
    display: none;
  }
}
// @media (max-width: 320px) {
//   .advantages-item {
//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }
.title-what-get-text-active {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #8d81ac;
  padding-bottom: 30px;
}

.title-what-get-text-active::before {
  content: '\3C';
}
.title-what-get-text-active::after {
  content: '\3E';
}
@media (min-width: 1100px) {
  .title-what-get-text-active {
    display: none;
  }
}
@media (max-width: 1100px) {
  .title-what-get-text {
    display: none;
  }
}
@media (max-width: 1100px) {
  .title-what-get-text-active {
    display: flex;
    // margin: 0 auto;
    padding-left: 100px;
    width: 540px;
  }
}
@media (max-width: 645px) {
  .title-what-get-text-active {
    display: block;
    // padding-left: 70px;
  }
}
@media screen and (max-width: 395px) {
  .button-container {
    margin-bottom: 120px;
  }
  .title-what-get-text-active {
    margin-top: 120px;
  }
}
