.container-footer {
  background-image: url(./images/Layer21.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.container-footer h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
  padding-top: 83px;
  margin-bottom: 61px;
}
.section-pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.pricing {
  max-width: 257px;
  min-width: 257px;
}
.form-inner {
  background: rgba(255, 255, 255, 0.11);
}
.form-inner h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 36px;
  color: #ffffff;
}
.form-content {
  margin-top: 30px;
  padding-top: 30px;
  height: 362px;
  background: rgba(255, 255, 255, 0.06);
}
.form-content h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  padding-left: 70px;
  margin-bottom: 20px;
}
.form-content h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.form-content h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 80px;
  padding-bottom: 38px;
}
.form-content input[type='submit'] {
  font-family: 'Montserrat';
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.11);
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 40px;
  width: 163px;
  height: 45px;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
.form-content hr {
  width: 60px;
  height: 5px;
  background: #8d81ac;
}
.pricing-active {
  margin-top: -30px;
  max-width: 257px;
  min-width: 257px;
}
.form-inner-active {
  background: #463048a7;
  height: 560px;
}
.form-inner-active h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 36px;
  color: #ffffff;
}
.form-content-active {
  height: 460px;
  background: #463048;
}
.form-content-active h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 16px;
  padding-left: 70px;
  padding-bottom: 14px;
}
.form-content-active h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 83px;
}
.form-content-active h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 80px;
  padding-bottom: 38px;
}
.form-content-active input[type='submit'] {
  font-family: 'Montserrat';
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.11);
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 40px;
  width: 163px;
  height: 45px;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
.form-content-active hr {
  width: 60px;
  height: 5px;
  background: #8d81ac;
}
@media screen and (max-width: 1080px) {
  .pricing {
    min-width: 200px;
  }
  .pricing-active {
    min-width: 200px;
  }
}
@media screen and (max-width: 1019px) {
  .pricing {
    width: 50%;
  }
}
@media screen and (max-width: 486px) {
  .pricing {
    margin-bottom: 10px;
  }
}
