body {
  font-family: $font-lato, $font-mont, sans-serif;
  min-width: 320px;
}

.header {
  background-image: url(./images/backgroundImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__first_line {
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: $hover-trans;
}

.logo:hover .logo__text {
  color: #ffffff;
}

.logo:hover .logo__img {
  background-image: url(./images/logoImgHover.png);
}

.logo__img {
  width: 43px;
  height: 41px;
  background-image: url(./images/logoImg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo__text {
  color: $header-text-color;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 17px;
}

.nav_bar {
  display: flex;
  align-items: center;
  column-gap: 46px;
}

.nav_bar__item {
  @include mon700;
  font-size: 16px;
  line-height: 15px;
  color: $header-text-color;
  cursor: pointer;
  transition: $hover-trans;
  white-space: nowrap;
}

.nav_bar__item:hover {
  color: #ffffff;
}

.nav_bar_section {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.nav_bar_btn {
  background: $header-text-color;
  @include mon700;
  font-size: 16px;
  line-height: 37px;
  color: #ffffff;
  border-radius: 40px;
  min-width: 145px;
  cursor: pointer;
  border: 1px solid $header-text-color;
  position: relative;
}

.mobile_menu_btn {
  width: 25px;
  height: 25px;
  background-image: url(/images/close-menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}

.mobile_menu_btn.disactive-btn {
  background-image: url(/images/open-menu.png);
}

.drop_menu {
  position: absolute;
  width: 290px;
  top: 85px;
  right: 15px;
  display: block;
}

.drop_menu.disactive {
  display: none;
}

.drop_menu__item {
  width: 290px;
  background: #333333;
  border-bottom: 3px solid #3b3b3b;
  padding: 31px 0px;
  cursor: pointer;
}
.drop_menu__item__text {
  font-family: $font-mont;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
  padding: 13.5px 30px;
  border-left: 8px solid transparent;
}

.drop_menu__item:hover .drop_menu__item__text {
  border-left: 8px solid $header-text-color;
  color: $header-text-color;
}

.nav_bar_btn:hover {
  color: $header-text-color;
  background: #ffffff;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 112px;
}

.main_title {
  @include mon700;
  font-size: 82px;
  line-height: 82px;
  color: #ffffff;
  transition: $hover-trans;
}

.sub_title {
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: $header-text-color;
  margin: 18px 0px;
  text-align: center;
}

.title_version {
  font-family: $font-mont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
  margin-bottom: 460px;
}

.download_btn {
  background-color: $header-text-color;
  border-radius: 40px;
  min-width: 390px;
  @include mon700;
  font-size: 21px;
  line-height: 56px;
  color: #ffffff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: none;
  cursor: pointer;
  border: 1px solid $header-text-color;
  transition: $hover-trans;
}

.download_btn:hover {
  color: $header-text-color;
  background: #ffffff;
}

@media screen and (max-width: 1100px) {
  .header__first_line {
    background: #27262a;
  }
  .nav_bar {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%);
  }
  .header__first_line {
    padding: 22px 20px 55px;
  }
  .header__content {
    margin-top: 69px;
  }
  .main_title {
    font-size: 72px;
    line-height: 72px;
  }
  .sub_title {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .main_title {
    font-size: 48px;
    line-height: 48px;
  }
  .download_btn {
    font-size: 18px;
    line-height: 41px;
    min-width: 290px;
  }
  .nav_bar_btn {
    min-width: 119px;
  }
  .mobile_menu_btn {
    display: block;
  }
  .logo__text,
  .nav_bar {
    display: none;
  }
  .header__first_line {
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 600px) {
  .drop_menu {
    display: none;
  }
}
